<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stackoverflow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.stackoverflow.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.stackoverflow.Temanuevo"
            android:label="@string/title_activity_temanuevo" >
        </activity>
        <activity
            android:name="com.example.stackoverflow.TemaBuscar"
            android:label="@string/title_activity_tema_buscar" >
        </activity>
        <activity
            android:name="com.example.stackoverflow.TemaInfo"
            android:label="@string/title_activity_tema_info" >
        </activity>
        <activity
            android:name="com.example.stackoverflow.TemaRespuesta"
            android:label="@string/title_activity_tema_respuesta" >
        </activity>
        <activity
            android:name="com.example.stackoverflow.DetalleTema"
            android:label="@string/title_activity_detalle_tema" >
        </activity>
        <activity
            android:name="com.example.stackoverflow.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
    </application>

</manifest>
